*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box
}
body{
    font-family: Arial;
}
.logo{
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: 5px;
}

.logo img{
    width: 50%;
    max-width: 100px;
}
.logo p{
    font-size: 15px;
        
            
}


header{
    width: 100%;
    height: 85px;
    background-color: #87a5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        
    padding: 0px 100px;
    position: fixed; /* Añadimos posición fija */
    top: 0; /* Anclamos en la parte superior */
    z-index: 999; /* Aseguramos que esté por encima de otros elementos */

}
.bars{
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #FFFF;
    font-size: 18px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
        
}

.nav-bar ul li a:hover{
    color: #000;
    border-bottom: 4px solid #ff0000;
}

.nav-bar ul li a.active{    
    color: #000;
    border-bottom: 4px solid #ff0000;
}
@media only screen and (max-width:900px){
    
    header{
        width: 100%;
        padding: 0px 20px;
    }
    .logo img{
        width: 50%;
    }
    .logo p{
        font-size: 15px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #FFF;
        margin: 6px 0;

    }

    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #87a5ff;
        transition: 0.5s;
        overflow: hidden;

    }
    .nav-bar.active{
        height: 450px;
    }   
        

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 20px;
    }
    
}


.gift {
    width: 100%; /* El ancho ocupa todo el contenedor padre */
    max-width: 100%; /* Se asegura de que no exceda el ancho del contenedor padre */
    height: 70vh; /* Permite que la altura se ajuste automáticamente según el ancho */
    display: block;
    margin-top: 80px; /* Espacio superior, ajusta según sea necesario */
    margin-right: auto; /* Centra horizontalmente */
    margin-bottom: 0; /* Elimina el margen inferior */
    margin-left: auto; /* Centra horizontalmente */
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 900px) {
    .gift {
        margin-top: 85px; /* Ajusta el margen superior para dejar espacio para el encabezado */
    }
}

@media only screen and (max-width: 480px) {
    .gift {
        width: 100%; /* Ajusta el ancho al 100% para que se adapte al ancho del dispositivo */
        max-width: none; /* Elimina la restricción de ancho máximo */
        margin-top: 50px; /* Reduce el margen superior en dispositivos móviles */
    }
}





@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*Cards*/

/*Inicio CARD*/

.conteiner-cartas{
    width: 100%;
    margin: auto;
}
.sobreNosotros-img img{
    width: 100%;
    height: 25%;
    margin: auto;
}

.conteiner-cartas h1{
    margin:auto;
    border-bottom: 3px solid #ff0000;
}

/*FIn CARD*/

@media only screen and (min-width:100px) and (max-width:900px){   
    .container-card{
        width: 100%;

	}
}
/*Fin-Cards*/
/* Estilos comunes */
.contenedor-consultoria{
    position: relative;
    height: 300px;
    overflow: hidden;
    margin:  auto;
    background-color: rgba(254, 0, 0, 0.67);
}

.contenedor-fabricacion{
    position: relative;
    height: 300px;
    overflow: hidden;
    margin: auto;
    background-color: rgba(0, 118, 192, 0.781);
}
.consultoria-parallax{
    position: absolute;
    width: 100%;
    background-image: url(carrusel1.jpg);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
.fabricacion-parallax{
    position: absolute;
    width: 100%;
    background-image: url(carrusel2.jpg);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.texto-consultoria{
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 5% 10%;
}
.texto-fabricacion{
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 5% 10%;
}
.title-consultoria{
    font-size: 3em;
    text-align: center;
    margin-top: 10%;

}
.title-fabricacion{
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
}

@media only screen and (max-width: 768px) {
    .contenedor-consultoria,
    .contenedor-fabricacion {
        height: auto; /* Cambiamos la altura a 'auto' para que se ajuste dinámicamente */
    }

    .texto-consultoria,
    .texto-fabricacion,
    .title-consultoria,
    .title-fabricacion {
        font-size: 1.5em; /* Reducimos el tamaño del texto para dispositivos más pequeños */
    }
}



/*slider*/
.slider-container {
    width: 80%;
    margin: 20px;
    position: relative;
    overflow: hidden;
    
  }

  .slider-thumbnails {
    display: flex;
    
    margin-bottom: 10px;
    overflow: hidden;
     /* Evita que las miniaturas se envuelvan a una nueva línea */
    
  }

  .thumbnail {
    cursor: pointer;
    margin: 0 5px;
  }

  .thumbnail img {
    width: 100px; /* Ajusta el tamaño de las miniaturas según sea necesario */
    height: 70px;
    object-fit: cover;
  }

  .slider-images {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .slider-images img {
    max-width: 100%;
    display: none;
    
  }

  .slider-images img.active {
    display: block;
  }

  /* Estilos para el overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semi-transparente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Coloca el overlay por encima de todo */
  }

  .overlay img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .slider-container {
        width: 100%; /* Cambia el ancho del contenedor al 100% para que se ajuste al ancho del dispositivo */
        margin: 10px auto; /* Reducir el margen para dispositivos pequeños */
    }
    
    .slider-thumbnails {
        justify-content: center; /* Centra las miniaturas */
    }
    
    .thumbnail {
        margin: 0 3px; /* Reducir el margen entre las miniaturas */
    }
    
    .overlay img {
        max-width: 90%; /* Ajusta el tamaño del overlay para dispositivos pequeños */
        max-height: 90%;
    }
}
/*Fin slider*/

/*Inicia mapa*/

.mapa{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.mapa h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 200;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 10px;
}

#map {
    height: 500px;
    max-width: 60%;
    margin: 0 auto;
}
@media  only screen and (max-width:900px){
    
    #mapa{
        
        height: 300px;
        
    }
    
}

/*Termina mapa*/

/*Inicia footer*/

.contaniner{
    max-width: 100%;
    margin: 10px;
}

.footer{
    background-color: #87a5ff;
    padding: 80px;
    width: 100%;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 30%;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-links h4{
    font-size: 30px;
    color: #FFFF;
    margin-bottom: 25px;
    font-weight: 500px;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 10px;
    text-align: center;

}

.footer-links ul li {
    font-size: 20px;
    color: #FFF;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;

}
.footer-links ul li:hover {
    padding-left: 10px;
    color: #FFF;

}


.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFF;
    transition: all .5s ease;
    align-items: center;

}


.social-links a:hover{
    background-color: #507cfd;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.form-content{
    position: relative;
    
} 


.form-content input{
    padding: 17px 14px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 3px solid #fff;
    width: 350px;
    height: 60px;
    outline: none;
}

.form-content textarea{
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    border: 3px solid #FFF;
    outline: none;
    padding: 10px 17px;
    width: 350px;
}

.form-content label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
    pointer-events: none;
    transition: 0.3s;
}


.form-content input:focus~label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: #87a5ff;
}

.form-content textarea:focus~label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: #87a5ff;
}


.btn1{
    width: 70%;
    height: 40px;
    border: none;
    border: 2px solid #ff0000;
    background: transparent;
    z-index: 1;
}
.btn1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    
    border-radius: 50%;
    z-index: -1;
    
    
}

.btn1:hover{
    top: 0;
    border-radius: 0%;
    background-color: rgba(254, 0, 0, 0.671);
    transition: 0.3s ;
}

@media  only screen and (min-width:100px) and (max-width:900px){


    .footer{
        width: 100%;
        
    }
   
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 20px;
    }
}


